#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background: white !important;
  background-image: none !important;
}

.card {
  padding: 2em;
  background: white !important;
  background-image: none !important;
}

.read-the-docs {
  color: #888;
}